* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.error {
  padding-top: 10px;
  color: red;
  font-size: 14px;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background: #dacbb5;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 3px 3px 10px #b9b1a7;
          box-shadow: 3px 3px 10px #b9b1a7;
}

header .container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .container .logout_button {
  background: rgba(255, 255, 255, 0.705);
  text-align: center;
  margin-right: 20px;
}

header .container .logout_button a {
  display: inline-block;
  color: #6d5736;
  padding: 10px 20px;
}

.main {
  background-image: url(../img/mokume.jpg);
  background-size: cover;
  padding: 40px;
}

.main .container .greet {
  padding-top: 20px;
  font-size: 19px;
}

.main .container .main_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px 0 15px;
}

.main .container .main_contents .main_contents_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area {
  display: none;
  background: #fff;
  padding: 50px;
  border-radius: 30px;
  border: 9px solid #d49b45;
  -webkit-box-shadow: 0px 3px 6px gray;
          box-shadow: 0px 3px 6px gray;
  position: relative;
  z-index: 10;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_task_area_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_task_area_title h1 {
  font-size: 36px;
  color: #93da7e;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_task_area_title i {
  color: #C7C7C7;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_tasks {
  padding-top: 30px;
  width: 500px;
  height: 520px;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_tasks .main_task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_tasks .main_task .main_task_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_tasks .main_task .main_task_left .date {
  background: #93da7e;
  font-size: 13px;
  color: #fff;
  padding: 5px 10px;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_tasks .main_task .main_task_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 13px;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_tasks .main_task .main_task_right .change_task {
  color: #11aaa5;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_tasks .main_task .main_task_right #delete_task {
  padding-left: 20px;
  color: #db3838;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area .fa-chevron {
  color: #C7C7C7;
  position: absolute;
  top: 50%;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area .fa-chevron-circle-right {
  right: 5px;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area .fa-chevron-circle-left {
  left: 5px;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show {
  display: block;
  background: #fff;
  padding: 50px;
  margin-left: -15px;
  border-radius: 30px;
  border: 9px solid #E2E2E2;
  -webkit-box-shadow: 0px 3px 6px gray;
          box-shadow: 0px 3px 6px gray;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_task_area_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_task_area_title h1 {
  font-size: 36px;
  color: #93da7e;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_task_area_title i {
  color: #C7C7C7;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_tasks .main_task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px 0;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_tasks .main_task .main_task_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_tasks .main_task .main_task_left .date {
  background: #93da7e;
  font-size: 13px;
  color: #fff;
  padding: 5px 10px;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_tasks .main_task .main_task_left .task_name {
  margin-top: 20px;
  white-space: wrap;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_tasks .main_task .main_task_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 13px;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_tasks .main_task .main_task_right .change_task {
  color: #11aaa5;
}

.main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_tasks .main_task .main_task_right #delete_task {
  padding-left: 20px;
  color: #db3838;
}

.main .container .main_contents .main_contents_right {
  width: 40%;
}

.main .container .main_contents .main_contents_right .main_contents_right_top .main_contents_right_top_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .main_contents .main_contents_right .main_contents_right_top .main_contents_right_top_title i {
  color: #fff;
  background: #93da7e;
  padding: 5px 13px;
  border-radius: 10px;
}

.main .container .main_contents .main_contents_right .main_contents_right_top .main_contents_right_top_title h2 {
  font-size: 30px;
  color: #93da7e;
  padding-left: 20px;
}

.main .container .main_contents .main_contents_right .main_contents_right_top .right_top_taskarea {
  background: #fff;
  padding: 30px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  border-radius: 30px;
  border: 9px solid #E2E2E2;
  -webkit-box-shadow: 0px 3px 6px gray;
          box-shadow: 0px 3px 6px gray;
}

.main .container .main_contents .main_contents_right .main_contents_right_top .right_top_taskarea .right_top_tasks {
  height: 131px;
}

.main .container .main_contents .main_contents_right .main_contents_right_top .right_top_taskarea .right_top_tasks .right_top_task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container .main_contents .main_contents_right .main_contents_right_bottom {
  padding-top: 43px;
}

.main .container .main_contents .main_contents_right .main_contents_right_bottom .main_contents_right_bottom_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .main_contents .main_contents_right .main_contents_right_bottom .main_contents_right_bottom_title i {
  color: #fff;
  background: #93da7e;
  padding: 5px 17px;
  border-radius: 10px;
}

.main .container .main_contents .main_contents_right .main_contents_right_bottom .main_contents_right_bottom_title h3 {
  font-size: 30px;
  color: #93da7e;
  padding-left: 20px;
}

.main .container .main_contents .main_contents_right .main_contents_right_bottom .right_bottom_taskarea {
  background: #fff;
  padding: 30px 30px 5px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  border-radius: 30px;
  border: 9px solid #E2E2E2;
  -webkit-box-shadow: 0px 3px 6px gray;
          box-shadow: 0px 3px 6px gray;
}

.main .container .main_contents .main_contents_right .main_contents_right_bottom .right_bottom_taskarea .right_bottom_tasks {
  height: 236px;
}

.main .container .main_contents .main_contents_right .main_contents_right_bottom .right_bottom_taskarea .right_bottom_tasks .right_bottom_task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container .addtask_area {
  background: #fff;
  padding: 30px;
  width: 100%;
  height: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px 0;
  border-radius: 30px;
  border: 9px solid #E2E2E2;
  -webkit-box-shadow: 0px 3px 6px gray;
          box-shadow: 0px 3px 6px gray;
}

.main .container .addtask_area .addtask_area_title {
  font-size: 30px;
  color: #93da7e;
  text-align: center;
  padding: 30px;
}

.main .container .addtask_area #addtask_done_message {
  text-align: center;
  padding: 50px;
}

.main .container .addtask_area #addtask_forms {
  padding-top: 50px 20px;
}

.main .container .addtask_area #addtask_forms .addtask_form {
  padding: 20px 0;
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container .addtask_area #addtask_forms .addtask_form input,
.main .container .addtask_area #addtask_forms .addtask_form textarea {
  width: 80%;
  resize: none;
}

.main .container .addtask_area #addtask_forms .addtask_submitbutton {
  text-align: center;
}

.main .container .addtask_area #addtask_forms .addtask_submitbutton input {
  padding: 10px 90px;
  margin-top: 40px;
}

.main .container .addtask_area #addtask_forms .addtask_submitbutton .modify_delete_task {
  padding-left: 20px;
  color: #db3838;
}

.main .container .addtask_area #addtask_forms .modify_addtask_submitbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main .container .addtask_area #addtask_forms .modify_addtask_submitbutton input {
  padding: 10px 90px;
  margin: 40px 50px 0 0;
}

.main .container .addtask_area #addtask_forms .modify_addtask_submitbutton .modify_delete_task {
  margin: 14px 0;
  color: #db3838;
}

.main .container .goto_topbutton {
  text-align: center;
  margin-top: 50px;
}

.main .container .goto_topbutton a {
  background: #93da7e;
  color: #fff;
  padding: 15px 20px;
  -webkit-box-shadow: 0px 1px 3px gray;
          box-shadow: 0px 1px 3px gray;
  border-radius: 20px;
}

footer {
  background: #5B5B5B;
}

footer .container {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container span {
  color: #fff;
  font-size: 11px;
}
/*# sourceMappingURL=style_main.css.map */