.error{
    padding-top: 10px;
    color:red;
    font-size: 14px;
}

.container{
    max-width:1170px;
    width:100%;
    margin:0 auto;
}

header{
    .container{
        height:80px;
        display:flex;
        align-items: center;
        justify-content: flex-end;
    }
}


.main{
    background:#D8F6FF;

    .container{
        height:calc(100vh - 130px);
        display:flex;
        align-items: center;
        justify-content: center;

        .inputarea{
            background:#fff;
            padding:30px;
            width:300px;
            color:#325F8D;

            .inputarea_title{
                span{
                    display:block;
                    padding-bottom:3px;
                    margin-bottom:20px;
                    border-bottom:1px solid #325F8D;
                    font-size:20px;
                    font-weight:bold;
                    text-align: center;
                }
            }

            .check_done{
                text-align: center;

                p{
                    padding:50px 0 70px;
                }
            }

            form{
                .input_group{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .inputs{
                        display: flex;
                        flex-direction: column;
                        width:80%;

                        label{
                            padding-bottom: 10px;
                        }

                        input{
                            width:100%;
                        }
                    }

                    .inputs:first-child{
                        padding:15px 0 20px;
                    }

                    #submit_button{
                        margin-top:30px;
                        width:50%;
                        padding:5px 0;
                    }

                    #goto_login_button, #goto_register_button{
                        margin-top: 30px;
                    }
                }
            }

            .display_areas{
                padding:30px 0;

                .display_area{
                    display:flex;
                    justify-content: space-between;
                    padding-bottom: 30px;
                }
            }

            .confirm_buttons{
                display: flex;
                justify-content: space-between;
                align-items: center;

                input{
                    padding: 5px 40px;
                }
            }

            .logout_message{
                padding:20px 20px 0;
                text-align:center;

                p{
                    padding-bottom: 20px;
                }
            }
        }
    }
}


footer{
    background:#5B5B5B;

    .container{
        height:50px;
        display: flex;
        align-items: center;
        justify-content: center;

        span{
            color:#fff;
            font-size: 11px;
        }
    }
}