.error {
  padding-top: 10px;
  color: red;
  font-size: 14px;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

header .container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .container .logout_button {
  padding-right: 20px;
}

main {
  background: #D8F6FF;
}

main .container {
  height: calc(100vh - 130px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container .inputarea {
  background: #fff;
  padding: 30px;
  width: 300px;
  color: #325F8D;
}

main .container .inputarea .inputarea_title span {
  display: block;
  padding-bottom: 3px;
  margin-bottom: 20px;
  border-bottom: 1px solid #325F8D;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

main .container .inputarea .check_done {
  text-align: center;
}

main .container .inputarea .check_done p {
  padding: 50px 0 70px;
}

main .container .inputarea form .input_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container .inputarea form .input_group .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

main .container .inputarea form .input_group .inputs label {
  padding-bottom: 10px;
}

main .container .inputarea form .input_group .inputs input {
  width: 100%;
}

main .container .inputarea form .input_group .inputs:first-child {
  padding: 15px 0 20px;
}

main .container .inputarea form .input_group #submit_button {
  margin-top: 30px;
  width: 50%;
  padding: 5px 0;
}

main .container .inputarea form .input_group #goto_login_button, main .container .inputarea form .input_group #goto_register_button {
  margin-top: 30px;
}

main .container .inputarea .display_areas {
  padding: 30px 0;
}

main .container .inputarea .display_areas .display_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

main .container .inputarea .confirm_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .inputarea .confirm_buttons input {
  padding: 5px 40px;
}

footer {
  background: #5B5B5B;
}

footer .container {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container span {
  color: #fff;
  font-size: 11px;
}
/*# sourceMappingURL=style.css.map */