* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
}

.error {
    padding-top: 10px;
    color: red;
    font-size: 14px;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background: rgb(218, 203, 181);
    position:relative;
    z-index:10;
    box-shadow: 3px 3px 10px rgb(185, 177, 167);

    .container {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .logout_button {
            background: rgba(255, 255, 255, 0.705);
            text-align: center;
            margin-right: 20px;

            a {
                display: inline-block;
                color: rgb(109, 87, 54);
                padding: 10px 20px;
            }
        }
    }
}


.main {
    background-image: url(../img/mokume.jpg);
    background-size: cover;
    padding: 40px;

    .container {
        .greet {
            padding-top: 20px;
            font-size: 19px;
        }

        .main_contents {
            display: flex;
            justify-content: space-between;
            padding: 45px 0 15px;

            .main_contents_left {
                display: flex;

                // .main_task_tabarea {
                //     margin-top: 30px;
                //     position: relative;

                //     .tab {
                //         cursor: pointer;
                //         background: #fff;
                //         font-size: 18px;
                //         border-radius: 20px;
                //         box-shadow: 0px 1px 3px gray;
                //         padding: 20px 60px;
                //         margin-bottom: 20px;
                //         transition: all .3s;
                //     }

                //     .tab-active {
                //         color: #fff;
                //         background: #93da7e;
                //         transform: scale(1.2, 1.2);
                //     }

                //     .change_category_button {
                //         background: #93da7e;
                //         color: #fff;
                //         padding: 15px 10px;
                //         box-shadow: 0px 1px 3px gray;
                //         border-radius: 20px;
                //         position: absolute;
                //         right: 28px;
                //         bottom: 30px;
                //     }
                // }

                .main_task_areas {
                    .main_task_area {
                        display: none;
                        background: #fff;
                        padding: 50px;
                        border-radius: 30px;
                        border: 9px solid #d49b45;
                        box-shadow: 0px 3px 6px gray;
                        position: relative;
                        z-index: 10;

                        .main_task_area_title {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            h1 {
                                font-size: 36px;
                                color: #93da7e;
                            }

                            i {
                                color: #C7C7C7;
                            }
                        }

                        .main_tasks {
                            padding-top: 30px;
                            width: 500px;
                            height: 520px;

                            .main_task {
                                display: flex;
                                justify-content: space-between;

                                .main_task_left {
                                    display: flex;
                                    flex-direction: column;
                                    width: 60%;

                                    .date {
                                        background: #93da7e;
                                        font-size: 13px;
                                        color: #fff;
                                        padding: 5px 10px;
                                    }
                                }

                                .main_task_right {
                                    display: flex;
                                    align-items: flex-end;
                                    font-size: 13px;

                                    .change_task {
                                        color: #11aaa5;
                                    }

                                    #delete_task {
                                        padding-left: 20px;
                                        color: #db3838;
                                    }
                                }
                            }
                        }

                        .fa-chevron {
                            color: #C7C7C7;
                            position: absolute;
                            top: 50%;
                        }

                        .fa-chevron-circle-right {
                            right: 5px;
                        }

                        .fa-chevron-circle-left {
                            left: 5px;
                        }
                    }

                    .main_task_area_show {
                        display: block;
                        background: #fff;
                        padding: 50px;
                        margin-left: -15px;
                        border-radius: 30px;
                        border: 9px solid #E2E2E2;
                        box-shadow: 0px 3px 6px gray;

                        .main_task_area_title {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            h1 {
                                font-size: 36px;
                                color: #93da7e;
                            }

                            i {
                                color: #C7C7C7;
                            }
                        }

                        .main_tasks {
                            .main_task {
                                display: flex;
                                justify-content: space-between;
                                padding: 6px 0;

                                .main_task_left {
                                    display: flex;
                                    flex-direction: column;
                                    width: 60%;

                                    .date {
                                        background: #93da7e;
                                        font-size: 13px;
                                        color: #fff;
                                        padding: 5px 10px;
                                    }

                                    .task_name {
                                        margin-top: 20px;
                                        white-space: wrap;
                                    }
                                }

                                .main_task_right {
                                    display: flex;
                                    align-items: flex-end;
                                    font-size: 13px;

                                    .change_task {
                                        color: #11aaa5;
                                    }

                                    #delete_task {
                                        padding-left: 20px;
                                        color: #db3838;
                                    }
                                }
                            }
                        }
                    }

                }
            }

            .main_contents_right {
                width: 40%;

                .main_contents_right_top {
                    .main_contents_right_top_title {
                        display: flex;
                        align-items: center;

                        i {
                            color: #fff;
                            background: #93da7e;
                            padding: 5px 13px;
                            border-radius: 10px;
                        }

                        h2 {
                            font-size: 30px;
                            color: #93da7e;
                            padding-left: 20px;
                        }
                    }

                    .right_top_taskarea {
                        background: #fff;
                        padding: 30px;
                        width: 100%;
                        box-sizing: border-box;
                        margin-top: 30px;
                        border-radius: 30px;
                        border: 9px solid #E2E2E2;
                        box-shadow: 0px 3px 6px gray;

                        .right_top_tasks{
                            height:131px;

                                .right_top_task {
                                    display: flex;
                                    justify-content: space-between;
                                }
                            }
                    }
                }

                .main_contents_right_bottom {
                    padding-top: 43px;

                    .main_contents_right_bottom_title {
                        display: flex;
                        align-items: center;

                        i {
                            color: #fff;
                            background: #93da7e;
                            padding: 5px 17px;
                            border-radius: 10px;
                        }

                        h3 {
                            font-size: 30px;
                            color: #93da7e;
                            padding-left: 20px;
                        }
                    }

                    .right_bottom_taskarea {
                        background: #fff;
                        padding: 30px 30px 5px;
                        width: 100%;
                        box-sizing: border-box;
                        margin-top: 30px;
                        border-radius: 30px;
                        border: 9px solid #E2E2E2;
                        box-shadow: 0px 3px 6px gray;

                        .right_bottom_tasks{
                            height:236px;

                                .right_bottom_task {
                                    display: flex;
                                    justify-content: space-between;
                                }
                            }

                    }

                }
            }
        }

        .addtask_area {
            background: #fff;
            padding: 30px;
            width: 100%;
            height: 50%;
            box-sizing: border-box;
            margin: 30px 0;
            border-radius: 30px;
            border: 9px solid #E2E2E2;
            box-shadow: 0px 3px 6px gray;

            .addtask_area_title {
                font-size: 30px;
                color: #93da7e;
                text-align: center;
                padding: 30px;
            }

            #addtask_done_message{
                text-align: center;
                padding: 50px;
            }

            #addtask_forms {
                padding-top: 50px 20px;

                .addtask_form {
                    padding: 20px 0;
                    width: 50%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;

                    input,
                    textarea {
                        width: 80%;
                        resize: none;
                    }
                }

                .addtask_submitbutton {
                    text-align: center;

                    input {
                        padding: 10px 90px;
                        margin-top: 40px;
                    }

                    .modify_delete_task{
                        padding-left: 20px;
                        color: #db3838;
                    }
                }

                .modify_addtask_submitbutton {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;

                    input {
                        padding: 10px 90px;
                        margin:40px 50px 0 0;
                    }

                    .modify_delete_task{
                        margin: 14px 0;
                        color: #db3838;
                    }
                }
            }

            

        }

        .goto_topbutton {
            text-align: center;
            margin-top: 50px;

            a {
                background: #93da7e;
                color: #fff;
                padding: 15px 20px;
                box-shadow: 0px 1px 3px gray;
                border-radius: 20px;
            }

        }
    }
}


footer {
    background: #5B5B5B;

    .container {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            color: #fff;
            font-size: 11px;
        }
    }
}