body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.error {
  padding-top: 10px;
  color: red;
  font-size: 14px;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  -webkit-box-shadow: 3px 3px 6px gray;
          box-shadow: 3px 3px 6px gray;
}

header .container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .container .logout_button {
  padding-right: 20px;
}

main {
  background: #D8F6FF;
  padding: 0 20px;
}

main .container {
  height: calc(100vh - 130px);
}

main .container .greet {
  padding-top: 20px;
  font-size: 19px;
}

main .container .main_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

main .container .main_contents .main_contents_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
}

main .container .main_contents .main_contents_left .main_task_tabarea {
  margin-top: 30px;
}

main .container .main_contents .main_contents_left .main_task_tabarea .tab {
  cursor: pointer;
  background: #fff;
  font-size: 18px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 3px gray;
          box-shadow: 0px 1px 3px gray;
  padding: 20px 60px;
  margin-bottom: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

main .container .main_contents .main_contents_left .main_task_tabarea .tab-active {
  color: #fff;
  background: #2AD2CC;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area {
  display: none;
  background: #fff;
  padding: 50px;
  margin-left: -15px;
  border-radius: 30px;
  border: 9px solid #E2E2E2;
  -webkit-box-shadow: 0px 3px 6px gray;
          box-shadow: 0px 3px 6px gray;
  position: absolute;
  z-index: 1;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_task_area_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_task_area_title h1 {
  font-size: 36px;
  color: #2AD2CC;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_task_area_title i {
  color: #C7C7C7;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_tasks {
  padding-top: 50px;
  width: 400px;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_tasks .main_task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_tasks .main_task .main_task_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_tasks .main_task .main_task_left .date {
  background: #FF8F8F;
  font-size: 13px;
  color: #fff;
  padding: 5px 10px;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_tasks .main_task .main_task_left .task_name {
  padding-top: 30px;
  white-space: wrap;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_tasks .main_task .main_task_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 13px;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_tasks .main_task .main_task_right .change_task {
  color: #11aaa5;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area .main_tasks .main_task .main_task_right .delete_task {
  padding-left: 20px;
  color: #db3838;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show {
  display: block;
  background: #fff;
  padding: 50px;
  margin-left: -15px;
  border-radius: 30px;
  border: 9px solid #E2E2E2;
  -webkit-box-shadow: 0px 3px 6px gray;
          box-shadow: 0px 3px 6px gray;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_task_area_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_task_area_title h1 {
  font-size: 36px;
  color: #2AD2CC;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_task_area_title i {
  color: #C7C7C7;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_tasks {
  padding-top: 50px;
  width: 400px;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_tasks .main_task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_tasks .main_task .main_task_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_tasks .main_task .main_task_left .date {
  background: #FF8F8F;
  font-size: 13px;
  color: #fff;
  padding: 5px 10px;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_tasks .main_task .main_task_left .task_name {
  padding-top: 30px;
  white-space: wrap;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_tasks .main_task .main_task_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 13px;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_tasks .main_task .main_task_right .change_task {
  color: #11aaa5;
}

main .container .main_contents .main_contents_left .main_task_areas .main_task_area_show .main_tasks .main_task .main_task_right .delete_task {
  padding-left: 20px;
  color: #db3838;
}

footer {
  background: #5B5B5B;
}

footer .container {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container span {
  color: #fff;
  font-size: 11px;
}
/*# sourceMappingURL=style_main.css.map */